div{
    background-color: tomato;
    padding: 3px;
    margin-top: 34px;
    margin: 50PX;
    text-decoration: solid;
}
*{

    border: 30PX;
    background-color: azure;
} 
img{
    max-height: 500px;
    max-width: 600px;
}